{% extends "layout.html" %}
{% block title %}Simple Fitness{% endblock %}
{% block page %}Simple Fitness{% endblock %}

{{ super() }}

{% block content %}
    
    {% if is_authenticated %}

    <div class="row">

      <section class="col s12 m3" style="margin-top: 5px;">
        <div class="routine-select" >
          <h4>Your Routines:</h4>
          <div class="collection" style="overflow-y: scroll; height: 40vh;">
            {% for routine in allroutines %}
              {% if routine.id == 1 %}
                <a href=""/{{routine.id}}"" class="collection-item">{{routine.name}}</a>
              {% else %}
                <a href=""/{{routine.id}}"" class="collection-item">{{routine.name}}</a>
              {% endif %}  
            {% endfor %}
          </div>
        </div>
        <div class="row">
          <form class="col s12" method="POST" action="/createRoutine">
            <h4>Create New Routine:</h4>
            <div class="row">
              <div class="col s12">
                <div class="input-field inline">
                  <input id="routine_name" type="text" name="routine_name">
                  <label for="name_inline">Name</label>
                  <input class = "btn purple left" type="submit" value="SUBMIT" id="createBtn"/>
                </div>
              </div>
            </div>
          </form>
          
        </div>
      </section>

      <section class="col s12 m4">
        <h4>Selected Routine:</h4>
        <div>
          <p>{{routine.name}}</p>
        </div>
      </section>

    <section class="col s12 m5" style="height: 80vh; overflow-y:scroll;">
      <div class="row" style="width: 100%;">
        {% for workout in allworkouts %}
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="{{workout.image}}" style="height: 150px;">
              <span class="card-title">{{workout.name}}</span>
            </div>
            <div class="card-content">
              <p>Sets: {{workout.set_count}}</p>
              <p>Reps: {{workout.reps_count}}</p>
              <p>Duration: {{workout.duration}}</p>
            </div>
            <div class="card-action">
              <a href="/addWorkout/{{workout.id}}" class="btn">Add</a>
            </div>
          </div>
        </div>
        
      {% endfor %}
      </div>

    </section>

    {% raw %}
    <section class="col s12 m3">
      <div class="row">
        <h1 class="brand-logo" style="font-size: 1.75em; text-align: center;">
          
        </h1> 
        <div style="overflow-y: scroll; height:35vh; padding: 10px;">
          
          <h3 style="font-size: large; ">{{workout.name}}</h3>
            <form class="col" method="POST" action="updateSets/{{workout.id}}">
              <div class="input-field inline">
                <input type="number" name="sets" value="{{workout.sets_count}}">
                  <label for="sets">Sets</label>
              </div>
              <input type="submit" class="btn" value="Update">
            </form>
            <form class="col" method="POST" action="updateReps/{{workout.id}}">
              <div class="input-field inline">
                <input type="number" name="reps" value="{{workout.reps_count}}">
                  <label for="reps">Reps</label>
              </div>
              <input type="submit" class="btn" value="Update">
            </form>

            <h1 class="brand-logo" style="font-size: 1.5em; margin-top: 30px;">
              Total Duration: {{total}}
            </h1> 
          </div>
        </div>
        <div class="row" style="height: 25vh; overflow-y: scroll;">
          <div  class="col s12">
            <a href="#" style="font-size: large; text-align: center;">{{routine.name}}</a>
          </div>

        </div>
      </section>
      {% endraw %}
      
      {% else %}
        <h1>Flask MVC</h1>
      {% endif %}
{% endblock %}