{% extends "layout.html" %}
{% block title %}Workout App{% endblock %}
{% block page %}Workout App{% endblock %}

{{ super() }}

{% block content %}
    
    {% if is_authenticated %}
    <!-- Remove {% raw %} and {% endraw %} for jinja functionality -->
    
    <div class="col s12 m3 list-container collection" style="max-height: 88vh;">
      {% for routine in allroutines %}
        {% if routine.id == current_user.id %}
          <a href="/app/{{routine.id}}" class="colleciton-item active" id="{{routine.id}}">{{routine.name}}</a>
        {% else %}
          <a href="/app/{{routine.id}}" class="colleciton-item" id="{{routine.id}}">{{routine.name}}</a>
        {% endif %}
      {% endfor %}
    </div>
    
    <section class="col s12 m9" style="height: 80vh; overflow-y:scroll;">
      <div class="row" style="width: 100%;">
        {% for workout in allworkouts %}
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="{{workout.image}}">
              <span class="card-title">{{workout.name}}</span>
            </div>
            <div class="card-content">
              <p>Sets: {{workout.set_count}}</p>
              <p>Reps: {{workout.reps_count}}</p>
              <p>Duration: {{workout.duration}}</p>
            </div>
            <div class="card-action">
              <a href="/addWorkout/{{workout.id}}" class="btn">Add</a>
            </div>
          </div>
        </div>
        {% endfor %}
        {% raw %}
      </div>
    </section>
      {% endraw %}
      {% else %}
        <h1>Flask MVC</h1>
      {% endif %}
{% endblock %}